$bg:rgba(0,0,0,0.06);
$bg--body: #3D3527;
$bg--grey: rgba(255,255,255,0.2);

$c--main: #f2e8d5;
$c--black: #000000;
$c--white:#ffffff;
$c--brown: #584E3B;
$c--brown-02: #645d51;
$c--red: #ba2f00;
$c--legend-item: #CFB78B;

$c--supported:#139424;
$c--partial-support:#899a00;
$c--not-supported:#ab2a18;
$c--unknown:#838383;

$c--ie:#385884;
$c--edge: #385884;
$c--firefox:#a36223;
$c--chrome:#3f77bb;
$c--safari:#666;
$c--opera:#812323;
$c--ios-safari:#333;
$c--opera-mini:#992626;
$c--android:#7ba13b;
$c--opera-mobile:#992626;
$c--chrome-android:#3f77bb;
$c--firefox-android:#a36223;
$c--uc-android: $c--black;
$c--samsung-internet:#9753ff;
$c--qq:  $c--black;
$c--baidu: $c--black;
$c--kaios:#6f02b5;
