body{
    background-color: beige;

    width: 99%;
    height: 99%;
}
li{
    list-style-type: none;
}
label{
    font-style: oblique;
    font-family: inherit;
    text-align:right;
}
fieldset{
    text-align: start;
    margin-left: 25px;
    display: inline-block;
    
}
.form-group {
	margin-bottom: 1em;
    padding-top: 1em;
}
input{
    color: #5f0606
}
.form-group label{
	width: 15%;
    display: inline-block;
}
legend{
    font-size: 200%;
    color: #0000c7;
    font-style: italic;
    font-family:cursive;
}
.fieldset-search{
    margin-left: 40%;
    margin-right: 40%;
    background-color: antiquewhite;
}
.button{
    border-radius:30%;
    background-color: aqua;
}
.search{
    border-radius: 10%;  
    border: 11% solid red;
    color:#0e2424;
}
.form-silpo-anketa{
    overflow: center;
    font-family: "Courier New", Courier, monospace;
}
.googlelabel{
    display:inline-block;
}
.anketa{
    margin-bottom: 5px;
    border: 0.09em solid black;
    margin-left: 3px;
    margin-right: 3px;
}
.data{
    height: 120%;
    margin-right: 5.7%;
}
.inform{
    border-bottom: 3px solid red;
    margin-bottom: 10px;
}
.silpo-osn-div{
    margin-left: 300px;
    padding-top: 25px;
    background-color: antiquewhite;
}
.form-block{
    padding-left: 10%;
}
