table {
	border-collapse: separate;
	border-spacing: 3px;
	text-align: center;
	background-color: #f2e8d5;

}
caption {
	font-size: 40px;
	font-weight: 700;
}

caption p{
	font-size: 25px;
}
a{
	text-decoration: none;
}

tr {
	font-size: 16px;
	height: 40px
}
td {
	width: 100px;
	font-size: 16px;
	background-color: #eae1ce;
}

.bg-green {
	background-color: #39b54a;
}

.bg-green_border {
	background-color: #39b54a;
	border: 5px solid #584e3b;
}

.bg-green_borderLeft {
	background-color: #39b54a;
	border: 5px solid #584e3b;
	border-left: 3px solid #584e3b;
}
.bg-green_borderRight {
	background-color: #39b54a;
	border: 5px solid #584e3b;
	border-right: 3px solid #584e3b;
}

.bg-red {
	background-color: #c44230;
}

.bg-mustard {
	background-color: #a8bd04;
}

.bg-mustard_border {
	background-color: #a8bd04;
	border: 5px solid #584e3b;
}

.bg-violet {
	background-color: #838383;
}

.IE__Edge {
	border-bottom: 5px solid #385884;
}

.Edge {

}

.Firefox__Firefox_for_Android {
	border-bottom: 5px solid #a36223;
}

.Chrome__Chrome_for_Android {
	border-bottom: 5px solid #3f77bb;
}

.Safari {
	border-bottom: 5px solid #666666;
}

.Opera {
	border-bottom: 5px solid #812323;
}

.iOS_Safari {
	border-bottom: 5px solid #333333;
}

.Opera_Mini__Opera_Mobile {
	border-bottom: 5px solid #992626;
}

.Android_Browser {
	border-bottom: 5px solid #7ba13b;
}

.UC_Browser_for_Android__QQ_Browser__Baidu_Browser {
	border-bottom: 5px solid #000000;
}

.Samsung_Internet {
	border-bottom: 5px solid #9753ff;
}

.KaiOS_Browser {
	border-bottom: 5px solid #6f02b5;
}


.legend {
	margin-top: 20px;
	width: 15%; 
}

.legend__topic {
	text-align: center;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 700;
}

.legend__body {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.legend__text {
	font-size: 20px;
}

.rectangle__green {
	width: 50px;
	height: 25px;
	background-color: #39b54a;
	margin-right: 6px;
}

.rectangle__red {
	width: 50px;
	height: 25px;
	background-color: #c44230;
	margin-right: 6px;
}

.rectangle__mustard {
	width: 50px;
	height: 25px;
	background-color: #a8bd04;
	margin-right: 6px;
}

.rectangle__violet {
	width: 50px;
	height: 25px;
	background-color: #838383;
	margin-right: 6px;
}