
$black: #000;
$gray:#dfe1e5;
$white:#fff;
$blue:#4285f4;


$transition: all 0.3s ease-in-out;

*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    color: $black;
}
.site-global-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    flex: 1 1;

}
section{
    
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
}


.google-search-form{
    height: 100vh;
    display: flex;
    align-items: center;
    @media screen and(max-height:400){
        height: unset;
    }
}
.wrapp-google-form{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    form{
        max-width: 630px;
        border-bottom: 1px solid $gray;
        >img{
            display: block;
            max-width: 272px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .line-search{
            position: relative;
            margin-bottom: 15px;
            &:hover{
                .input-search{
                    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
                }
            }
            .input-search{
                border: 1px solid $gray;
                border-radius: 30px;
                font-size: 18px;
                font-weight: 500;
                outline: none;
                padding: 14px 20px;
                padding-right: 45px;
                width: 100%;
                transition: $transition;
                &:hover,&:active,&:focus{
                    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
                }
            }
            .run-search{
                position: absolute;
                background: none;
                border: none;
                outline: none;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 0;
                padding-right: 12px;
                cursor: pointer;
                display: flex;
                &:hover{
                    svg{
                        fill: darken($blue, 20%);
                    }
                }
                svg{
                    width: 30px;
                    height: 30px;
                    fill: $blue;
                    transition: $transition;
                }
            }
        }
        .box-filters{
            display: flex;
            flex-wrap: wrap;
            .item{
                position: relative;
                label{
                    display: flex;
                    align-self: center;
                    cursor: pointer;
                    transition: $transition;
                    padding: 5px 5px;
                    padding-bottom: 10px;
                    border-bottom: 3px solid $white;
                    svg,img{
                        margin-right: 5px;
                    }
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                    img{
                        width: 20px;
                        height: 20px;
                        display: none;
                    }
                    &:hover{
                        color: $blue;
                        fill: $blue;
                    }
                }
                input[type=radio]{
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin: 0;
                }
                input[type=radio]:checked + label{
                    color: $blue;
                    border-bottom: 3px solid $blue;
                    svg{
                        display: none;
                    }
                    img{
                        display: block;
                    }
                }
            }
        }
    }
}


.silpo-work-form{
    padding: 40px 0;
}
.wrapp-silpo-form{
    max-width: 710px;
    margin: 0 auto;
    .title-form{
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        color: $black;
    }
    form{
        color: #333;
        >h3{
            font-size: 18px;
            font-weight: 500;
            color: $black;
        }
        .separator{
            margin: 10px 0 40px;
            width: 100%;
            border-bottom: 1px solid $gray;
        }
        .line-half,.line{
            display: flex;
            .wrapp-item{
                margin-bottom: 10px;
            }
        }
        .line-half{
            align-items: flex-end;
            .wrapp-item{
                flex-basis: 50%;
                &:first-child{
                    margin-right: 20px;
                }
            }
        }
        .line{
            .wrapp-item{
                flex-basis: 100%;
            }
        }
        .single-item{
            .wrapp-item{
                flex-basis: calc(50% - 10px);
            }
        }
        .wrapp-item{
            position: relative;
            padding-top: 18px;
            input,select{
                width: 100%;
                border: none;
                border-bottom: 1px solid $gray;
                outline: none;
                padding: 6px 0;
                font-size: 14px;
                background: $white;
            }
            select{
                appearance: none;
                cursor: pointer;
            }
            input:focus ~ label,select:focus ~ label{
                opacity: 1;
                top: 0;
            }
            input:focus ~ .pseudo-border,select:focus ~ .pseudo-border{
                width: 100%;
            }
            // input:invalid ~ label{
            //     opacity: 1;
            //     top: 0;
            //     color: red;
            // }
            label{
                font-size: 12px;
                position: absolute;
                left: 0;
                top: 50%;
                opacity: 0;
                transition: $transition;
                z-index: -1;
            }
            input[type=file]{
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                border: none;
                background: none;
                width: 0;
                height: 0;
            }
            input[type=file] + label{
                border:2px dashed $gray;
                position: unset;
                opacity: 1;
                cursor: pointer;
                width: 100%;
                display: flex;
                min-height: 140px;
                justify-content: center;
                align-items: center;
                color: $gray;
            }
            .pseodu-label{
                font-size: 14px;
            }
            .pseudo-border{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 2px;
                background: #573f7b;
                transition: $transition;
            }

        }
        .wrapp-item-fulltime{
            display: flex;
            input{
                width: unset;
                cursor: pointer;
                margin-right: 10px;
            }
            label{
                position: unset;
                z-index: 1;
                opacity: 1;
                cursor: pointer;
                font-size: 14px;
            }
        }
        .wrapp-item-submit{
            .btn-submit{
                max-width: 200px;
                background: #ff8522;
                border-radius: 20px;
                color: $white;
                font-weight: 500;
                cursor: pointer;
                transition: $transition;
                margin: 0 auto;
                font-size: 18px;
                border: none;
                display: block;
                &:hover{
                    background-color: darken(#ff8522, 10%);
                }
            }
        }
    }
}