* {
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    display: flex;
}
.hamburger-menu {
    background: grey;
    color: white;
    height: 100vh;
    width: 20%;
}
.hamburger-menu input {
    display: none;
}
ul {
    list-style-type: none;
    margin: 50px 0 0 25px;
}
ul :first-child {
    margin: 25px;
}
ul li {
    font-size: 50px;
    color: black;
}
a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.content {
    display: flex;
    flex-direction: column;
}
.main {
    height: 85vh;
    width: 100%;
}
.main h1 {
    font-size: 60px;
    padding: 40px 0px 30px 30px;
}
p {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
}
.footer {
    display: flex;
    height: 15vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-top: 1px solid black;
}
.footer h1 {
    padding: 40px;
}
@media (max-height: 800px) {
    .footer {
        display: none;
    }
}
@media (max-width: 876px) {
    body {
        height: 100%;
    }
    body .content {
        margin-left: -20px;
    }
    .content {
        width: 50%;
    }
    .footer {
        display: none;
    }
    input {
        opacity: 0;
    }
    input:checked ~ .menu_btn > span {
        transform: rotate(45deg);
    }
    input:checked ~ .menu_btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    input:checked ~ .menu_btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    input:checked ~ .menu_box {
        visibility: visible;
        left: 0;
    }  
    .menu_btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .hamburger-menu {
        width: 60px;
    }
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu_btn > span::before {
        content: '';
        top: -8px;
    }
    .menu_btn > span::after {
        content: '';
        top: 8px;
    }  
    .menu_box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: gray;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }  
    .menu_item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
}