body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2e8d5;
}
h1 {
  font-size: 1.75em;
  font-weight: normal;
  margin: -0.15em 8px 0 0;
  line-height: 1.3;
}
p {
  font-size: 1.2em;
  max-width: 30em;
  line-height: 1.5;
}
.MainTable {
  min-width: 1000px;
  border-spacing: 5px;
}
.MainTable td {
  width: calc(100% / 17);
  height: 40px;
  text-align: center;
}
.MainTable tr {
  height: 30px;
}
.MainTable tbody td {
  color: white;
}
.Borders td {
  outline: 3px solid #584e3b;
}
.NotVersion {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.03);
}
.NotSupported {
  background-color: #c44230;
}
.Supported {
  background-color: #39b54a;
}
.SupportUnknown {
  background-color: #838383;
}
.PartialSupport {
  background-color: #a8bd04;
}
.IE,
.Edge,
.Firefox,
.Chrome,
.Safari,
.Opera,
.SafariiOS,
.OperaMini,
.AndroidBrowser,
.OperaMobile,
.ChromeAndroid,
.FirefoxAndroid,
.UC,
.Samsung,
.QQ,
.Baidu,
.KaiOS {
  border-bottom: 3px solid;
}

.IE {
  border-color: #385884;
}
.Edge {
  border-color: #385884;
}
.Firefox {
  border-color: #a36223;
}
.Chrome {
  border-color: #3f77bb;
}
.Safari {
  border-color: #666;
}
.Opera {
  border-color: #812323;
}
.SafariiOS {
  border-color: #333;
}
.OperaMini {
  border-color: #992626;
}
.AndroidBrowser {
  border-color: #7ba13b;
}
.OperaMobile {
  border-color: #992626;
}
.ChromeAndroid {
  border-color: #3f77bb;
}
.FirefoxAndroid {
  border-color: #a36223;
}
.UC {
  border-color: black;
}
.Samsung {
  border-color: #9753ff;
}
.QQ {
  border-color: black;
}
.Baidu {
  border-color: black;
}
.KaiOS {
  border-color: #6f02b5;
}
.ColumnLeft {
  width: 40px;
}
.LegendTable {
  border-spacing: 4px;
}
