.root {
    min-width: 320px;
    background-color: #303f93;
    font-size: .9rem;
}

.link {
    cursor: pointer;

    margin: 0 .2rem;
    padding: 0;

    color: white;
    font-weight: 400;
    transition: all .3s ease-in-out;
    display: inline;

    &:hover {
        text-decoration: none;
        color: #A0ACEB;
    }

    svg {
        color: white;
        margin: 0 .3rem;
    }
}