@media only screen and (max-width: 768px)
	{
		.container2 {
  	flex-direction: column;
	}
	.box{
  	width: 100%;
  	}
}
@media only screen and (max-width: 640px) {
.container2 {
  	flex-direction: column;
}
.box{
  	width: 100%;
  	}
.main {
	flex-direction: column;
}
.menu {
	width: auto;
	background-color: #fff;
	overflow: visible; 
}
.article {
	overflow: visible;
}