* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
}
.default_nav {
    width: auto;
    background-color: #808080;
    padding: 50px;
    display: inline-flex;
    flex-direction: column;
}
.navigation {
    display: none;
}
.nav-trigger {
    display: none;
}
h1 {
    font-size: 16px;
    margin-bottom: 50px;
}
a {
    color: white;
    display: block;
    padding: 10px 0;
}
.content {
    flex-direction: row;
    flex-flow: column;
    text-transform: uppercase;
    flex-wrap: wrap;
    display: flex;
}
h2, p {
    padding-left: 40px;
    margin: 15px 0;
}
p {
    margin: 15px 0;
}
.container {
    flex-wrap: wrap;
    text-transform: uppercase;
}
.footer {
    display: flex;
    border-top: black solid 1px;
    padding-left: 0;
}
h3 {
    padding: 50px;
}
@media screen and (max-width: 1000px) {
    .default_nav {
        display: none;
    }
    .navigation {
        display: inline;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        list-style: none;
        background-color: grey;
    }
    /* Navigation Menu - List items */
    .nav-item {
        width: 200px;
        border-top: 1px solid #111;
        border-bottom: 1px solid grey;
    }
    .nav-item a {
        display: block;
        padding: 1em;
        background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        color: white;
        font-size: 1.2em;
        text-decoration: none;
        transition: color 0.2s, background 0.5s;
    }
    .nav-item a:hover {
        color: #c74438;
        background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
    }
    /* Site Wrapper - Everything that isn't navigation */
    .site-wrap {
        min-height: 100%;
        min-width: 100%;
        background-color: white;
        position: relative;
        top: 0;
        bottom: 100%;
        left: 0;
        z-index: 1;
        padding: 4em;
        background-size: 200%;
    }
    /* Nav Trigger */
    .nav-trigger {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        display: inline;
    }
    label[for="nav-trigger"] {
        position: fixed;
        left: 15px; top: 15px;
        z-index: 2;
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
        background-size: contain;
    }
    .nav-trigger + label, .site-wrap {
        transition: left 0.2s;
    }
    .nav-trigger:checked + label {
        left: 215px;
    }
    .nav-trigger:checked ~ .site-wrap {
        left: 200px;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    }
    p {
        margin: 10px;
    }
}