* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.logo {
	text-decoration: none;
	margin: 5px 10px;
	text-align: center;
	display: block;
}

.logo img {
	width: 92px;
	height: 30px;
}

.search-block {
	position: relative;
	margin: 5px 10px;
}

.search-block input {
	height: 34px;
	width: calc(100% - 8px);
	padding-left: 4px;
	border-radius: 14px;
	border-color: #bcbbbb;
	border: 1px solid #c9c9c9;
}

.search-block input:focus {
	box-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
}

.button-submit,
.search-block input:focus { outline: none; }

.button-submit:hover { cursor: pointer; }

.button-submit svg>path:hover { fill: blue; }

.button-submit {
	position: absolute;
	border: none;
	background-color: transparent;
	right: 18px;
	top: 7px;
}

.google-search-form-menu-list {
	list-style: none;
	padding-left: 0;
}

.google-search-form-menu-list li {
	padding: 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid #3c3c3c;
}

.google-search-form-menu-list li:first-child {
	border-top: none;
}
 
.google-search-form-menu-list li:last-child {
	border-bottom: none;
}

.google-search-form-menu-list svg,
.google-search-form-menu-list img {
	width: 15px;
}

.google-search-form-menu-list li {
	padding: 5px 25px;
}

div[class^="google-search-form-menu-item-settings"] {
	display: none;
}

div[class^="google-search-form-menu-item-settings"] h5 {
	text-align: right;
}

.google-search-form-menu-item-1:hover>.google-search-form-menu-item-settings-1,
.google-search-form-menu-item-2:hover>.google-search-form-menu-item-settings-2 {
	display: block;
}

.google-search-form-menu-list select {
	width: 100%;
	padding: 16px 20px;
	margin: 10px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.cv-header-intro {
	text-align: center;
	padding: 10px 15px;
	background: #9e9e9e0f;
}

.cv-intro h3 { margin-bottom: 20px; }

.cv-intro-btn {
	text-decoration: none;
}

.cv-intro-btn:hover {
	cursor: pointer;
}

/* cv-form */
.form {
	padding: 20px;
}
.cv-form__heading {
	text-align: center;
	margin-bottom: 20px;
}

.cv-form__subtitle {
	margin-bottom: 15px;
}

.form-row {
	margin-bottom: 20px;
}

.form__label-value {
	display: block;
	color: gray;
}

.form__field {
	padding-right: 10px;
	padding-left: 10px;
}

.form__field input[type="text"],
.form__field input[type="tel"],
.form__field input[type="email"],
.form__field select {
	border: none;
	border-bottom: 1px solid grey;
	outline: none;
	width: 100%;
	height: 2rem;
}

.box__input {
	height: 200px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.checkbox-label__body { color: gray; }

.box__file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.box__file + label {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	display: inline-block;
	cursor: pointer;
	padding: 5px 20px
}

.box__file:focus + label,
.box__file + label:hover {
	background-color: grey;
}

.subForm {
	margin-top: 50px;
}

.form-hint {
	margin: 10px auto;
	text-align: center;
	max-width: 220px;
	color: grey;
	font-size: 12px;
}

.login {
	padding-top: 15px;
}

.login input {
	outline: none;
	width: 90%;
}

@media only screen and (min-width: 540px) {
	#header,
	form>.form-group {
		display: flex;
	}

	.side-menu-search,
	.search-block,
	.intro {
		width: 50%;
	}

	.google-search-form-menu-list { display: flex; }

	.google-search-form-menu-list li {
		border-bottom: none;
		border-top: none;
	}

	.cv-header-intro {
		width: 50%;
		padding: 35px;
	}

	.form-row {
		display: flex;
		justify-content: space-between;
	}

	.form-row .form__field {
		width: 50%;
	}

	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (min-width: 961px) {
	.cv-form { width: 70%; }
}
