.title {
  font-size: 1.8rem;
}

.partial .title {
  font-size: 1.1rem;
  font-weight: 500;
}

.file-field .btn {
  width: 100%;
}

.file-path-wrapper {
  width: 0;
  height: 0;
  padding: 0;
}

.file-field .btn,
.file-field .btn-large,
.file-field .btn-small {
  height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px dashed #ccc;

  font-size: 0.8rem;
  line-height: 1.6;
}