$white:#ffffff;
$blue:#164ce2;
$blueLight:#4effff;

header{
    background-color: $blue;
}
.line-header{
    align-items: center;
    padding: 20px 0;
    @media screen and(max-width:1199px){
        padding: 15px 0;
    }
    @media screen and(max-width:767px){
        flex-wrap: wrap;
    }
    .site-logo{
        img{
            max-width: 180px;
            width: 100%;
            @media screen and(max-width:1199px){
                max-width: 155px;
            }
            @media screen and(max-width:576px){
                max-width: 100px;
            }
        }
    }
    nav{
        margin-left: 8%;
        margin-right: 30px;

        @media screen and(max-width:1199px){
            margin-left: 4%;
            margin-right: 20px;
        }
        @media screen and(max-width:767px){
            order: 10;
            margin: 0;
            flex: 1 1;
            margin-top: 15px;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            @media screen and(max-width:991px){
                flex-direction: column;
            }
            @media screen and(max-width:767px){
                flex-direction: row;
                justify-content: space-between;
            }

            li{
                margin-right: 40px;
                @media screen and(max-width:1199px){
                    margin-right: 20px;
                }
                @media screen and(max-width:991px){
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                @media screen and(max-width:767px){
                    margin-bottom: 0;
                }
                &:last-child{
                    margin-right: 0;
                    @media screen and(max-width:991px){
                        margin-bottom: 0;
                    }
                }
                a{
                    img{
                        @media screen and(max-width:576px){
                           max-width: 120px;
                        }
                    }
                }
            }
        }
    }
    .line-search-department{
        align-items: center;
        flex: 1 1;
        justify-content: flex-end;
        margin-right: 40px;
        @media screen and(max-width:767px){
            margin-right: 20px;
            flex-direction: column;
        }
        @media screen and(max-width:576px){
           margin: 0 10px;
        }
        .contact-phone{
            color: $white;
            transition: all ease-in-out 0.3s;
            text-decoration: none;
            margin-right: 40px;
            white-space: nowrap;
            @media screen and(max-width:767px){
                margin: 0 15px;
            }
            &:hover{
                color: $blueLight;
            }
        }
        .search-department{
            max-width: 235px;
            width: 100%;
            input{
                border:1px solid $white;
                padding: 5px 10px;
                background-color: transparent;
                font-style: italic;
                color: $white;
                transition: all ease-in-out 0.3s;
                width: 100%;
                &::placeholder{
                    color: $white;
                }
                &:focus{
                    outline: none;
                    border-color: $blueLight;
                }
            }
        }
    }
    .show-aside-nav{
        display: block;
        background: none;
        outline: none;
        border:none;
        padding: 0;
        margin: 0;
        &:hover{
            span{
                background-color: $blueLight;
            }
        }
        span{
            display: block;
            width: 20px;
            height: 2px;
            background-color: $white;
            margin-bottom: 4px;
            transition: all ease-in-out 0.3s;
            &:last-child{
                margin-bottom: 0;
            }
            &:nth-child(1){

            }
            &:nth-child(2){
                
            }
            &:nth-child(3){
                
            }
        }
    }
}