body{
background-color:lightgrey;
}


.table{
    color: white;
   background-color: lightyellow;
    text-align: center;
}

th{
    width: 75px;
}
.line5{
    background-color: green;
}
.table td{
    height: 35px;
}
.line2{
    height: 5px!important;
    background-color: navy;
}
.tablehead{
    color:black;
}
.NotSupported{
    background-color: red;
}
.Partial{
    background-color: greenyellow;
}
.Supported{
    background-color: green;
}