
body {
  	font-family: 'Century Gothic';
}

form {
	max-width: 600px;
	margin-left: 100px;
}

fieldset {
	margin-top: 10px;
	padding: 20px;
}

legend {
	font-weight: bold;
	color: green;
}

.formgroup {
	margin-bottom: 20px;
}

label {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
}

input[type = 'search'],
input[type = 'text'],
input[type = 'date'],
input[type = 'tel'],
input[type = 'email'],
select {
	width: 300px;
	height: 30px;
}

.radio {
	margin-bottom: 10px;
}

.radio label {
	vertical-align: top;
	text-align: right;
}

.silpo fieldset.form_title {
	background: rgb(92, 49, 131);
}

.silpo h3 {
	display: inline-block;
	vertical-align: top;
	color: white;
}