@font-face {
    font-family: 'icomoon';
    src:   url('./fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-balance-scale:before {
    content: "\e90f";
}
.icon-loop:before {
    content: "\e910";
}
.icon-cart1:before {
    content: "\e911";
}
.icon-cart:before {
    content: "\e93a";
}
.icon-credit-card:before {
    content: "\e93f";
}
.icon-phone:before {
    content: "\e942";
}
.icon-youtube2:before {
    content: "\ea9e";
}
.icon-shopping-cart:before {
    content: "\e912";
}
.icon-truck:before {
    content: "\e913";
}
.icon-creative-commons-share:before {
    content: "\e914";
}
.icon-chat:before {
    content: "\e915";
}
.icon-image:before {
    content: "\e916";
}
.icon-info:before {
    content: "\e917";
}
.icon-magnifying-glass:before {
    content: "\e91b";
}
.icon-video:before {
    content: "\e918";
}
.icon-facebook-with-circle:before {
    content: "\e900";
}
.icon-instagram-with-circle:before {
    content: "\e901";
}
.icon-youtube:before {
    content: "\e902";
}
.icon-package:before {
    content: "\e919";
}
.icon-package1:before {
    content: "\e91a";
}
.icon-amd:before {
    content: "\e903";
    color: #ed1c24;
}
.icon-android:before {
    content: "\e904";
    color: #a4c639;
}
.icon-apple:before {
    content: "\e905";
    color: #999;
}
.icon-dell:before {
    content: "\e906";
    color: #007db8;
}
.icon-google:before {
    content: "\e907";
    color: #4285f4;
}
.icon-huawei:before {
    content: "\e908";
    color: #f00;
}
.icon-mix:before {
    content: "\e909";
    color: #ff8126;
}
.icon-playstation4:before {
    content: "\e90a";
    color: #003791;
}
.icon-samsung:before {
    content: "\e90b";
    color: #1428a0;
}
.icon-stylus:before {
    content: "\e90c";
}
.icon-synology:before {
    content: "\e90d";
    color: #b6b5b6;
}
.icon-tesla:before {
    content: "\e90e";
    color: #c00;
}



