body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2e8d5;
}

table {
  border: solid black 2px;
  border-collapse: separate;
  border-spacing: 7px 5px;
}

caption {
  font-size: 30px; 
  font-weight:600;
  color:green;
  margin-bottom: 5px;
}

th, td {
  padding: 2px; 
  width: 85px;
  min-width: 85px;
  height: 25px;
  text-align: center;
  empty-cells: hide;
}

th {
  border-bottom:5px solid;
}

.IE,
.Edge,
.Chrome,
.Chrome-for-Android {
  border-bottom-color: #385884;
}

.Firefox,
.Firefox-for-Android {
  border-bottom-color: #a36223;
}

.Safari,
.iOS-Safari {
  border-bottom-color: #666;
}

.Opera {
  border-bottom-color: red;
}

.Android-Browser {
  border-bottom-color: yellowgreen;
}

.Samsung-Internet,
.KaiOS-Browser {
  border-bottom-color: violet;
}

.not-supported {
  background-color: red;
}

.partial-support {
  background-color: greenyellow;
}

.supported {
  background-color: green;
}

.row-5 td {
  outline: 4px solid #583e3b;
}

.row-6 {
  opacity: 0.75;
}

.legend {
  border: 2px solid black;
  width: 210px;
  margin-top: 5px;
  padding: 10px;
}

.legend-sup, 
.legend-nosup, 
.legend-partial {
  display: inline-block;
  width: 35px;
}

.legend-sup {
  background-color: green;
}

.legend-nosup {
  background-color: red;
}

.legend-partial {
  background-color: greenyellow;
}

a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}

a:visited {
  color: rgb(17, 48, 224);
}

a:hover {
  color: green;
}
