/* Color */
.color-inherit {
  color: inherit;
}

.color-green {
  color: $green;
}

.color-greenLight {
  color: $green-light;
}

.color-white {
  color: $white;
}

.color-grayWhite {
  color: $gray-white;
}

.color-grayBlond {
  color: $gray-blond;
}

.color-black {
  color: black;
}

.hover-colorWhite {
  &:hover {
    color: $white;
  }
}

.hover-colorGreen {
  &:hover {
    color: $green;
  }
}

.hover-colorGreenBlond {
  &:hover {
    color: $green-blond;
  }
}

.hover-colorBlack {
  &:hover {
    color: $black;
  }
}

.bg-reed {
  background-color: red;
}

.bg-gray {
  background-color: $gray;
}

.bg-grayBlond {
  background-color: $gray-blond;
}

.bg-grayLimd {
  background-color: $gray-limpid;
}

.bg-grayWhite {
  background-color: $gray-white;
}

.bg-black {
  background-color: $black;
}

.bg-blackLight {
  background-color: $black-light;
}

.bg-green {
  background-color: $green;
}

.bg-greenLight {
  background-color: $green-light;
}

.bg-orange {
  background-color: $orange;
}

.bg-redLight {
  background-color: $red-light;
}

.bg-transparent {
  background-color: transparent;
}

.hover-bgOrangeBlond {
  &:hover {
    background-color: $orange-blond;
  }
}

.hover-bgTransparent {
  &:hover {
    background-color: transparent;
  }
}

.hover-bgGreenBlond {
  &:hover {
    background-color: $green-blond;
  }
}

.hover-bgBlackLight {
  &:hover {
    background-color: $black-light;
  }
}

.hover-bgWhite {
  &:hover {
    background-color: $white;
  }
}

.focus-bgWhite {
  &:focus {
    background-color: $white;
  }
}

.border-colorBlack {
  border-color: black;
}

.border-grayBlond {
  border: 3px solid $gray-blond;
}

.border-green {
  border: 3px solid $green;
}

.border-grayWhite {
  border: 1px solid $gray-white;
}

.border-transparent {
  border-color: transparent;
}

.borderBottom-green {
  border-bottom: 3px solid $green;
}

.border-radius-25 {
  border-radius: 25px;
}

.border-radius-100 {
  border-radius: 100%;
}

.list-style-color {
  list-style: none;
  position: relative;

  &::after {
    content: "";
    display: block;
    background-color: $green;

    width: 6.5px;
    height: 6.5px;

    border-radius: 100%;

    position: absolute;

    top: 50%;
    left: -1.1rem;

    transform: translateY(-50%);
  }
}
