/* Color */
$green: #6bc729;
$green-light: #98c93c;
$green-blond: #b1e650;

$black: #000;
$black-light: #262724;

$white: #fff;


$red: #ff0000;
$red-light: #fb0629;

$gray: #424242;
$gray-light: #656565;
$gray-blond: #989897;
$gray-white: #d4d9d9;
$gray-limpid: #f5f7f7;

$orange: #f6851f;
$orange-blond: #ffaf49;

/* Font */
$font-size: 16px;
$font-robot: 'Roboto Condensed', sans-serif;
$font-hind: 'Hind Madurai', sans-serif;