.breadcrumbs {
    li {
        color: white;
    }
}

.breadcrumbs_link {
    color: white;
    font-size: .9rem;
    transition: all .3s ease-in-out;

    &:hover {
        text-decoration: none;
        color: #A0ACEB;
    }
}