* {
      margin: 0;
      padding: 0;
      border: 0;
}
body {
      color: #000000;
      font-family: Trebuchet MS, Arial, Times New Roman;
      font-size: 12px;
}
 
.container {
      margin: 0 auto;
      width: 100%;
      height: 100%;
}
 
.header {
      background-color: rgba(109,106,255, 0.6);
      height: 140px;
      width: 100%;
      position: relative;
      font-size: 35px;
      text-align:center;
      letter-spacing: 3px;
      word-spacing: 10px;
      text-shadow: 3px 2px rgb(123,97,97);
      border: 1px solid black;
}
 
.padding {
      padding: 20px;
 }
.flex-row {
      display: flex;
      flex-direction: row;
}
.menu {
      background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 34%,rgba(32,124,202,1) 71%,rgba(32,124,202,1) 71%,rgba(125,185,232,1) 100%);
      width: 20%;
      min-width: 150px;
      height: 900px;
      position: relative;
      border: 1px solid black;
}
.row-menu {
      width: 70%;
      background: -webkit-linear-gradient(-45deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
      margin: 10px;
      padding: 5px;
      border-radius: 10px;
      font-weight: bold;
      font-size: 20px;
}
 
.content {
      min-height: 900px;
      width: calc(80%-4px);
      flex-wrap: wrap;
      align-content: space-between;
      background-color: rgb(204, 255, 254);
      justify-content: space-around;
      border: 1px solid black;
      display: flex;
      flex-direction: row;

}


.cel {
      width: 35%;
      min-width: 15%;
      min-height: 20%;
      margin: 15px;
      padding: 15px;
      text-align: center;
      background-color: rgb(142, 242, 238);
      border: 1px solid black;
}

@media only screen and (max-width: 768px) {
      .cel {
            width: 70%;
      }
      .content {
            height: 100%;
            overflow: hidden;
            overflow: scroll;
      }
      .menu {
            height: 900px;
            overflow: hidden;
            overflow: scroll;
      }
}

@media only screen and (max-width: 360px) {
      body {
            min-width: 250px;
      }
      .menu {
            width: 100%;
            height: 25%;
      }
      .row-menu {
            font-size: 10px;
      }
      .content {
            clear: both;
            overflow: hidden;
            overflow: scroll;

      }
      .header {
            font-size: 15px;
      }
      .flex-row {
            display: block;
      }
      .cel {
            
      }
}

img {
      width: 150px;
}
p {
      font-weight: bold; 
      padding-top: 5px; 
}
h2 {
      padding-bottom: 5px;
}