@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

.root {
    background-color: #fff;
}

.header {
    background-color: #3f51b5;
    padding: 1rem 0;

    .title {
        color: white;
        text-align: center;

        font-size: 2.2rem;
        font-weight: 600;
        font-family: 'Caladea', serif;
    }

    .text {
        color: white;
        text-align: center;

        font-weight: 500;
        font-family: 'Noto Serif', serif;
    }
}

.body {
    padding: 1rem 0;

    .title {
        color: #3f51b5;

        font-size: 2.2rem;
        font-weight: 600;
        font-family: 'Noto Serif', serif;
        text-shadow: 1px 1px 2px white;

        position: relative;
        padding-left: 2rem;

        &:before {
            content: '';
            display: block;
            width: 1.5rem;
            height: .4rem;

            background-color: #3f51b5;

            position: absolute;
            left: 0;
            top: 50%;

            transform: translateY(-50%);
        }
    }

    .text {
        color: #3f51b5;
        font-size: 1.1rem;
        font-weight: 500;

        padding: 1rem 0;
    }
}

.advantages {
    padding: 2rem 0;

    .advantagesTitle {
        color: #3f51b5;
        font-weight: 600;
        font-size: 1.4rem;
        font-family: 'Caladea', serif;
        text-shadow: 1px 1px 2px white;

        display: flex;
        align-items: center;

        position: relative;

        & i {
            font-size: 1.4rem;

            position: absolute;
            left: 0;
            top: 50%;

            transform: translateY(-50%);
        }

        & div {
            font-size: 1.4rem;
            padding-left: 2rem;
        }
    }

    .advantagesText {
        color: #3f51b5;
        font-weight: 500;
        font-family: 'Caladea', serif;
        font-size: 1.2rem;

        padding-left: 2rem;
    }
}

.subTitle {
    color: #3f51b5;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: 'Caladea', serif;
    text-shadow: 1px 1px 2px white;

    text-align: center;
}

.command {
    padding: 1rem 0;

    display: flex;

    @include media-breakpoint-down(xs) {
        flex-direction: column;
        align-items: center;
    }

    .commandTitle {
        color: #3f51b5;
        font-weight: 600;
        font-size: 1.3rem;
        font-family: 'Caladea', serif;
        text-shadow: 1px 1px 2px white;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }

    .commandText {
        color: #3f51b5;
        font-weight: 500;
        font-size: 1.1rem;
        font-family: 'Caladea', serif;
        text-shadow: 1px 1px 2px white;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        @include media-breakpoint-up(sm) {
            max-width: 200px;
        }
    }
}