body {
    margin: 10%;
}
table {
    text-align: center;
}
th {
    width: 20px;
    font-size: 11px;
}
td {
    border: solid 0 white;
    width: 40px;
    padding: 10px;
    font-size: 12px;
}
h1 {
    font-weight: normal;
}
p {
    font-size: 20px;
    width: 35%;
    text-align: justify;
}
.column_1 {
    background-color: #eae1ce;
}
.supported {
    background-color: #39b54a;
}
.not_supported {
    background-color: #c44230;
}
.support_unknown {
    background-color: grey;
}
.column_3 {
    background-color: #67c16c;
    text-align: center;
}
.column_3 :first-child {
    background-color: #eae1ce;
}
ul {
    text-align: justify;
    list-style-type: none;
}
li {
    padding: 3px;
}
li .supported {
    color: #39b54a;
    background-color: #39b54a;
}
li .not_supported {
    color: #c44230;
    background-color: #c44230;
}
li .support_unknown {
    color: #838383;
    background-color: #838383;
}

li .partial_supported {
    color: #a8bd04;
    background-color: #a8bd04;
}
.bordered td {
    border-width: 5px;
    border-color: #584e3b;
}
