// variables
$color_ringoo: #98c93c;
$color_ringoo_bg: #262724;
$color_search_bg: #424242;
$color_search_br: rgba(255, 255, 255, 0.1);
$color_menu_active_bg: #ff0000;
$color_cart_bg: #f6851f;
$color_promos_btn: #722b6f;
$color_product_colors_green: #32cd32;
$color_product_colors_blue: #0000ff;

$color_light: #fff;
$color_dark: #000;

// fonts
// @import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');


// test classes

.t_bdr_a {
	border: 1px solid red;
}

.t_bdr_b {
	border: 1px solid lime;
}

.t_font {
	font-family: Lato;
}

.t_aln {
	display: flex;
	justify-content: center;
	align-items: center;
}

// reset
* {
	padding: 0;
	margin: 0;
}

html {
	box-sizing: border-box;
	font-size: 15px;
}

*, *::after, *::before {
	box-sizing: inherit;
}

html, body {
	height: 100%;
}

// structure

.header {

	.top_menu {
		background-color: $color_ringoo;
	}

	.ringoo {
		background-color: $color_ringoo_bg;
		color: $color_ringoo;
		.col {
		min-height: 50px;
		}
	}
}

.main {

	.slider {

	}

	.brands {

	}

	.promos {

	}

	.hot_offering {

	}

	.last_supply {

	}

	.stock {

	}

	.videos {

	}

	.advantages {

	}
}

.footer {

	.email_sub {

	}

	.bottom_contacts {

	}

	.rights_reserved {

	}
}