h1{
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
}

p{
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 1.2em;
font-weight: 300;
}
table {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: white;
  text-align: center;
  border-spacing: 0 2px;
}

tbody, tfoot {
  color: white;
}

th {
  font-weight: normal;
  font-size: 0.75em;
}

tr {
  font-size: 1rem;
  font-weight: 300;
  margin: 0 2px;
}

td {
  padding: 0;
  border: 1px solid white;
}

.IE {
  border-bottom: 2px solid blue;
}

.Edge {
  border-bottom: 2px solid blue;
}

.Firefox {
  border-bottom: 2px solid olive;
}

.Chrome {
  border-bottom: 2px solid skyblue;
}

.Safari {
  border-bottom: 2px solid grey;
}

.Opera {
  border-bottom: 2px solid darkred;
}

.iOS_Safari {
  border-bottom: 2px solid midnightblue;
}

.Opera_Mini {
  border-bottom: 2px solid darkred;
}

.Android_Browser {
  border-bottom: 2px solid greenyellow;
}

.Opera_Mobile {
  border-bottom: 2px solid darkred;
}

.Chrome_for_Android {
  border-bottom: 2px solid skyblue;
}

.Firefox_for_Android {
  border-bottom: 2px solid olive;
}

.US_Browser_for_Android {
  border-bottom: 2px solid black;
}

.Samsung_Internet {
  border-bottom: 2px solid violet;
}

.QQ_Browser {
  border-bottom: 2px solid black;
}

.Baidu_Browser {
  border-bottom: 2px solid black;
}

.KaiOS {
  border-bottom: 2px solid purple;
}

.redcolor {
  background-color: red;
}

.legendblock {
  display: block;
  height: 20px;
  width: 20px;
}

.lightgrey {
  background-color: lightgrey;
}

.greencolor {
  background-color: green;
}

.blackborder td {
  border: 3px solid black;
}
