.map-box {
    position: relative;
    border: 1px solid #000;
    height: 650px;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 40px;
    @media screen and(max-width:767px){
        height: 450px;
        margin-bottom: 20px;
    }
}