h3{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.content-head{
    background-color: lightgray;
    padding: 15px;
    border: 1px solid black;
    display: block;
    margin: 0;
}

.content-body{
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-collapse: separate;
    padding: 10px;

}
.active{
    display: block
}
.hide{
    display: none;
}
.item{
    display: block;
}
