@import "~bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css");

#root {
	h1 {
		color: blue;
	}
}

.menu {
	position: relative;

	.menu_open_button {
		font-size: 30px;
		cursor: pointer;
	}
	
	.menu_close_button {
		position: absolute;
		right: 10px;
		font-size: 20px;
		cursor: pointer;
	}

	.menu_nav {
		position: absolute;
		top: 0;
		background-color: #fff;
		left: -100%;
		transition: left 0.3s ease-in;
		&.show {
			left: 0;
		}
		ul {
			margin-top: 20px;
		}
	}
}

table {
	// border: solid 1px blue;
	tr {
		cursor: pointer;
		&:hover {
			background-color: green;
		}
		td {
			border: solid 1px blue;
			&:hover {
				background-color: red;
			}
		}
	}
}
