* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  font-size: 0.85rem;
}
a, .btn-link {
  color: #98c93c;
}
a:hover {
  color: #98c93c;
}
.btn-main {
  background: #98c93c;
  color: #fff;
}
.btn-outline-main {
  color: #98c93c;
  border: 2px solid #98c93c;
}
.btn {
  border-radius: 0;
}
a.link-dark {
  color: #262724;
}
a.link-dark:hover {
  color: #98c93c;
}
.bg-gray {
  background: #e8eded;
}
.bg-light-gray {
  background: #f5f7f7;
}
section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h3, .h3 {
  margin: 0 0 2rem;
}
header {
  font-size: 13px;
}
header .top-nav {
  background: #98c93c;
}
header .top-nav ul {
  margin: 0;
  padding: 5px 0;
}
header .top-nav li {
  line-height: 1.5;
  margin: 0 70px 0 0;
}
header .top-nav a {
  color: #262724;
  text-decoration: none;
  padding: 0 15px;
}
header .header-content {
  background: #262724;
  color: #fff;
}
header .header-content .logo {
  padding: 5px 0 5px 15px;
}
header .search {
  margin: 0.8rem 6rem;
}
header .search input.form-control {
  height: 30px;
  font-size: 13px;
}
header .dropdown-menu {
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
  left: 0;
}
header .dropdown-menu span {
  font-weight: bold;
}
header .dropdown-menu .wrap {
  height: 350px;
  width: 700px;
}
header .dropdown-menu .dropdown-item {
  width: auto;
}
header .nav {
  position: relative;
}
header .nav a.nav-link {
  color: #fff;
  line-height: 25px;
  padding: 0.5rem 1.5rem;
}
header .nav a.nav-link:hover {
  background: #fff;
  color: #98c93c;
}

.menu-icon {
  padding: 0.5rem;
  font-size: 1.45rem;
  color: #fff;
}

.brand-banners {
  background: #fff;
}
.brand-banners a {
  display: block;
  width: 66px;
  height: 55px;
}
.brand-banners a img {
  max-width: 100%;
}

.banners-item {
  height: 220px;
  width: auto;
}

.banner-1 {
  background: url("../img/banner-item-1.png") no-repeat top left;
}

.banner-2 {
  background: url("../img/banner-item-2.png") no-repeat top left;
}

.banner-3 {
  background: url("../img/banner-item-3.png") no-repeat top left;
}

.hot-deals {
  background: #e8eded;
}
.hot-deals img {
  height: 320px;
  width: auto;
}

.img-select .check-point {
  height: 20px;
  width: 20px;
  display: block;
  border-radius: 10px;
}
.img-select label {
  padding: 2px;
  border-radius: 12px;
}
.img-select label.active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.subscribe {
  border-top: 1px solid #d4d9d9;
  margin: 15px 0;
  padding: 10px 0;
}

.block-title {
  border-bottom: 1px solid #d4d9d9;
  padding: 10px 0;
}

.new-arrivals {
  background: #f5f7f7;
}

.avalible-now {
  background: #e8eded;
}
.avalible-now .cities {
  display: flex;
  width: 590px;
  height: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
.avalible-now .dropdown-item {
  width: 40%;
}
.avalible-now .btn-link {
  color: #98c93c;
  font-size: 1.75rem;
}

.subscribe-form {
  background: #98c93c;
  font-size: 1rem;
  color: #fff;
}
.subscribe-form input {
  width: 50%;
  margin: 1rem auto;
}
.subscribe-form legend {
  font-weight: bold;
  margin: 0 0 20px;
}

footer {
  background: #262724;
}
footer .title {
  color: #98c93c;
}
footer a {
  color: #fff;
}
footer li {
  line-height: 1.5rem;
}
footer .breadcrumbs-btm {
  background: #40423e;
}
footer .breadcrumbs-btm ol {
  padding: 0;
  font-size: 12px;
}
footer .breadcrumb-item.active {
  color: #fff;
}
footer .copyrights {
  background: #1b1c19;
  padding: 5px 0;
}
footer .copyrights p {
  color: #fff;
  margin: 0;
}
footer .social-btn {
  font-size: 2rem;
}
.breadcrumb {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
}
.card {
  border: none;
  border-radius: 0;
}
.advantages .card {
  text-align: center;
}
.advantages-icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid #98c93c;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
.advantages-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  max-width: 62px;
  z-index: 5;
}
.block-price {
  border: 1px solid #d4d9d9;
  margin: 0 0 20px;
}
.charackter .row {
  width: 50%;
}
.item-tabs .nav {
  border-bottom: 3px solid #98c93c;
  background: #f5f7f7;
  padding: 20px;
}
.item-tabs .tab-content {
  padding: 10px 20px;
}
.item-tabs .nav-pills .nav-link {
  border-radius: 1.4rem;
  background-color: #e8eded;
  color: #80807e;
}
.item-tabs .nav-pills .nav-link.active {
  color: #fff;
  background-color: #98c93c;
}

.mobile-user-menu {
  display: none;
}
.mobile-user-menu .mobile-nav {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0;
  text-align: center;
  width: 100%;
  display: none;
  color: #000;
}
.mobile-user-menu label {
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 40;
  overflow: scroll;
  color: #262724;
}
.mobile-user-menu .top-block {
  height: 40px;
  background: #262724;
}
.mobile-user-menu .nav-item {
  width: 100%;
}
.mobile-user-menu .nav-item ul {
  padding: 0 0 0 40px;
}
.mobile-user-menu .close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 400;
  color: #fff;
}
.mobile-user-menu #mobile-menu:checked + label {
  width: 100%;
  min-height: 100%;
}
.mobile-user-menu #mobile-menu:checked + label > .mobile-user-menu .close, .mobile-user-menu #mobile-menu:checked + label > .mobile-user-menu .mobile-logo, .mobile-user-menu #mobile-menu:checked + label > .mobile-nav {
  display: block;
}
.mobile-user-menu #mobile-menu:checked + label > .close:active {
  display: none;
}
.mobile-user-menu .nav-border-top {
  border-top: 1px solid #d4d9d9;
}
.mobile-user-menu .mobile-logo {
  width: 80px;
  margin: 7px 0 0 23px;
}
.tab-content {
  overflow: scroll;
}
@media (max-width: 991.98px) {
  header .nav a.nav-link {
    color: #262724;
  }

  .hot-deals img {
    height: auto;
  }

  .content {
    padding-top: 40px;
  }

  .mobile-user-menu {
    display: block;
  }
  .mobile-user-menu .search {
    margin: 0.5rem 2rem;
  }
  .mobile-user-menu .search input.form-control {
    height: 25px;
    font-size: 13px;
    width: 220px;
  }
}
@media (min-width: 1200px) {
  .content, section, footer .footer-content, footer .breadcrumbs-btm, header .top-nav, header .header-content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.content section {
  padding-left: 0;
  padding-right: 0;
}

/*# sourceMappingURL=index.css.map */
