.promo {
  width: 100%;
  height: auto;
  background-color: #000;
  img {
    margin: 0 auto;
    display: block;
  }
}

#myTabContent {
  position: absolute;
  left: 15px;
  top: 70px;
  background-color: #fff;
}
