table th {
	width: 76px;
	height: 32px;
	font-size: 14px;
}
tbody {
	text-align: center;
	color: #fff;
}
.not-support {
	background: #c44230;
}
.support {
	background: #39b54a;
}
.empty {
	background: #eae1ce;
}
tr:nth-child(4) {
	background: #584e3b;
}
.list-legend {
	list-style-type: none;
	padding-left: 0;
}

.list-legend li {
	display: flex;
	align-items: center;
}
.list-legend li .block {
	width: 20px;
	height: 10px;
	margin-right: 5px;
}
.list-legend li span:first-child {
	margin: 0 5px;
}
.partial-support{
	background: #a8bd04;
}
.support-unknown {
	background: #838383;
}