table th {
	width: 76px;
	height: 32px;
	font-size: 14px;
}
tbody {
	text-align: center;
	color: #fff;
}
.red {
	background: #c44230;
}
.green {
	background: #39b54a;
}
.silver {
	background: #eae1ce;	
}
tr:nth-child(4) {
	background: #584e3b;
}
.list-legend {
	list-style-type: none;
	padding-left: 0; 
}

.list-legend li {
	display: flex;
	align-items: center;
}
.list-legend li .block {
	width: 20px;
	height: 10px;
	margin-right: 5px;
}
.list-legend li span:first-child {
	margin: 0 5px;
}
.list-legend li:nth-child(1) .block {
	background: #39b54a;
}
.list-legend li:nth-child(2) .block {
	background: #c44230;
}
.list-legend li:nth-child(3) .block {
	background: #a8bd04;
}
.list-legend li:nth-child(4) .block {
	background: #838383;
}