body {
	background-color: rgb(242,232,213);
	font-family: 'Open Sans', sans-serif;
}
a {
	text-decoration: none;
	color: black;
}
table {
	width: 100%; 
	table-layout: fixed;
	border-spacing: 6px 2px;
	text-align: center;
}
th {
	font-weight: normal;
}
td {
	height: 2em;
	color: white;
}
tr[class~="border"] td {
	border: 5px solid rgb(88,78,59);
}
.empty {
	background-color: rgb(234,225,206);
}
.supported {
	background-color: rgb(57,181,74);
	empty-cells: hide;
}
.not-supported {
	background-color: rgb(196,66,48);
}
.legend {
	width: 3em;
	height: 1em;
	display: inline-block;
}
