* {
    padding: 0;
    margin: 0;
}
header {
    background-color: darkgoldenrod;
    height: 80px;
    padding-top: 5%;
}
h1 {
    text-align: center;
}
.left_bar {
    display: block;
    width: 250px;
    padding: 50px;
    background-color: #006600;
    flex-direction: row;
    flex-grow: 1;

}
.left_bar_block {
    background-color: yellow;
    margin: 50px;
    width: 150px;
    padding: 10px;
}
.content_blocks{
    width: 1300px;
}
p {
    padding: 30px;
    text-align: justify;
}
.content_block {
    width: 150px;
    display: inline-flex;
    padding: 20px;
    background-color: #006699;
    color: #FFFFFF;
    margin: 30px;
    border: black 1px solid;
}
@media screen and (max-width: 1024px) {
    .left_bar {
        display: block;
        width: 100%;
        padding: 0;
        background-color: #006600;
        float: none;
    }
    .left_bar_block {
        background-color: yellow;
        /*margin: 50px;*/
        width: 30%;
        padding: 10px;
        flex-flow: column;
        display: inline-flex;
    }
    .content_blocks{
        width: 100%;
    }
    p {
        padding: 10px;
    }
    .content_block {
        width: 35%;
        display: inline-flex;
    }
}
@media screen and (max-width: 710px) {
    .content_blocks{
        width: 100%;
    }
    .content_block {
        width: 50%;
        display: inline-flex;
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media screen and (max-width: 626px) {
   .left_bar_block {
       width: 50%;
       margin-left: 20%;
   }
}