.item {
	border: 1px solid #000;
}
.item.active {
	display: block;
}
.item-header {
	background-color: lightgrey;
	border-bottom: 1px solid #000;
	padding: 10px;
	cursor: pointer;
}
.item-body {
	height: 0;
	overflow: hidden;
	transition:all 1s;
	padding: 0 10px
}
.active .item-body {
	display: block;
	height: auto;
	padding: 10px
}
