fieldset {
    border: 0;
}

.formGoogle {
    text-align: center;
}

.input {
    width: 500px;
    height: 40px;
    outline: none;
    border-style: none;
}

.inputDiv {
    width: 550px;
    height: 45px;
    border-radius: 25px;
    border-style: groove;
    margin-left: 30%;
    float: left;
}

.buttonSearch {
    margin: 15px auto auto 15px;
    float: left;
}

select {
    border-style: none;
}

.formSilpo {
    margin: auto;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

legend {
    font-size: 170%;
}

.buttonProfileSend {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    border-style: groove;
    outline: none;
}

.profile select {
    margin: 20px;
}

.profile label {
    margin-top: 25px;
    width: 250px;
    height: 30px;
    display: inline-block;
    text-align: left;
}

.profile input {
    width: 245px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

#checkbox {
    width: auto;
}


/* источники:
рамка фиелдсет 
https://joomlaforum.ru/index.php/topic,294773.0.html 

рамка и подчеркиване input 
http://www.cyberforum.ru/html/thread1374555.html
*/