$white:#ffffff;
$blue:#164ce2;
$blueLight:#4effff;
$blueLight2:#d5e6fa;

.column-calculator{
    padding: 60px 0;
    .title-calc{
        text-align: center;
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 40px;
    }
    .box-calc{
        .line-input{
            margin: 0 -20px;
        }
        .item-input{
            flex: 1 1;
            padding: 0 20px;
            margin-bottom: 20px;
            label{
                position: relative;
                display: block;
                color: $blue;
                font-weight: 600;
                cursor: pointer;
            }
            select{
                position: relative;
                box-shadow: none;
                color: #888;
                padding: 10px 15px;
                width: 100%;
                border: 1px solid #d7e7fe;
                cursor: pointer;
                appearance: none;
                background: transparent;
                z-index: 1;
            }
            .label-for-select{
                &:before{
                    content:'';
                    position: absolute;
                    right: 20px;
                    top:40px;
                    width: 10px;
                    height: 10px;
                    display: block;
                    border-left: 2px solid $blue;
                    border-bottom: 2px solid $blue;
                    transform: rotate(-45deg);
                    z-index: -1;
                }
            }
        }
    }
    .line-btn-calc{
        padding: 10px 0;
        margin-bottom: 20px;
        .calc-delivery{
            display: block;
            outline: none;
            margin: 0 auto;
            padding: 12px 20px;
            font-size: 18px;
            color: $white;
            background-color: #007bf9;
            border: none;
            border-radius: 25px;
            transition: all ease-in-out 0.3s;
            &:hover{
                background-color: darken(#007bf9, 10%);
            }
        }
    }
    .line-result{
        justify-content: center;
        font-size: 18px;
    }
}