.content-items {
    input {
        margin-left: 20px;
    }
    .submit-btn {
        margin-left: 5px;
        background-color: #164CE2;
        padding: 2 10px;
        border: none;
        font-size: 18px;
        svg{
            color: #fff;
        }
    }
}