.title-status {
    font-size: 14px;
    margin: 15px 0;
}
.line-bottom {
    border-bottom: 5px solid #164CE2;
    margin-bottom: 10px;
}
.img-container {
    height: 110px;
}
.body-text {
    font-size: 11px;
}