body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
#searchLine{
  font-size: 17px;
  height: 20px;
  width: 200px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 25px;
}
.searchButton{
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}
.form-group{
  margin-bottom: 10px;
}
.silpo-form{
  margin-bottom: 10px;
  text-align: initial;
}
.silpo-labels{
  width: 200px;
  display: inline-block;
}
fieldset{
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 30px;
}
.send-button{
  text-align: center;
  border-radius: 5px;
}
select{
  width: 150px;
}
