@media (max-width: 720px) {
    .left-side {display: none;}
}

.left-side {
    position: relative;
    width: 200px;
    height: 900px;
    background: palegoldenrod;
    text-align: center;
}

.left-menu {
    position: relative;
    width: 150px;
    height: 800px;
}

.left-swap {

}

.wrapper {
    position: relative;
    background: #006699;
    width: 500px;
    height: 350px;
}

.text-block {

}

.footer {
    position: relative;
    width: 900px;
    height: 70px;
    background: #00r;
    text-align: center;
}

.footer-block {

}