*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}
@media(max-width: 768px){
    .wrapper{
        width: 768px;
        margin: 0 auto;
    }
}
@media(max-width: 360px){
    .wrapper{
        width: 768px;
        margin: 0 auto;
    }
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.top{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
    
}
.company{
   display: flex; 
   width: 980px;
   height: 150px;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   background-image: url(../img/topbg.png);
   background-repeat: no-repeat;
   background-size: 100%;
   color: white;
   text-shadow: black 0 0 3px;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: flex-start;
    background-color: aquamarine;
}
.side-menu{
    padding-top: 10px;
}
.side-menu h1{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
.side-menu p{
    padding: 10px 0;
}
.side-menu ul{
    list-style: none;
    padding-top: 50px;
    padding-bottom: 50px;
}
.side-menu ul a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.side-menu ul a:hover{  
    color: gray;
    text-decoration: underline;
}
.side-info{
    padding-left: 10px;
}
.side-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.side-content a{ 
    text-decoration: none;
    color: black;
}
.side-content a:hover{
    text-decoration: underline;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.content-head{
    width: 780px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.content-head h1,
.content-head p
{
    color: blue;
}

.content-item{
    border: 1px solid gray;
    position: relative;
    margin: 25px;
    width: 309px;
}
.content-item p{
    text-align:center;
}
.content-item span{
    padding: 10px 0;
    display: inline-block;
    background: gray;
    width: 100%;
    text-align: center;
}
.content-container{
    display: flex;
    flex-direction: row;
}
.content-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px){
    .content-item{
        width: 400px;
        margin: 40px 25px
    }
}
@media only screen 
  and (max-device-width: 360px) 
  and (max-device-width: 640px){
      .content-container{
        flex-direction: column;
      }
    .left-side{
        width: 1024px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .side-menu ul{
        display: inline-flex;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .side-menu{
        position: relative;
        left: -120px;
        top: 0;
        align-self: center;
    }
    .side-info{
        display: flex;
        flex-direction: row;
    }
    .side-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 10px;
        margin: 0 10px;
    }
    .content-item{
        border: 1px solid gray;
        position: relative;
        left: -52px;
        margin: 10px 0;
        width: 370px;
        justify-content: center;
        align-items: center;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 768px){
    .content-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .company{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding: 25px;
    }
    .content{
        flex-direction: column;
    }
    .content-items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


