@import "bootstrap.css";

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.top-links{
    display: flex;
    justify-content: space-around;
    background-color: #98c93c;
}
.top-links a{
    color: #000;
    font-size: 12px;
}
.top-links-menu{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    height: 10px;
}
.top-links-menu li{
    padding-left: 80px;
}
.top-links-menu li:first-child{
    padding-left: 0px;
}
.row-class{
    width: 1140px;
    margin: 0 auto;
}
.top-main-bar{
    background-color: #262724;
    color: white;
}
.top-main-bar-logo a{
    position: relative;
    top: 10px;
}
.top-main-bar-search-input{
    background-color: #424242;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    width: 100%;
    background: url("../img/search_gray.svg") no-repeat 10px 7px;
    padding:4px 15px 4px 33px;
    margin-top: 5px;
    position: relative;
    top: 10px;
    left: 40px;
}
.top-main-bar-search-input:focus{
    outline: none;
    background-color: #fff;
    color: #000;
}
.top-main-bar-menu{
    display: flex;
    justify-content: space-around;
}
.top-main-bar-menu ul{
    list-style: none;
    display: flex;
}
.top-main-bar-menu ul li a{
    padding: 12px 19px 18px 19px;
    border-left: 1px solid #fff;
    border-collapse: collapse;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.top-main-bar-menu ul li a:hover{
    color: #000;
    background-color: #fff;
}
.stock{
    border-right: 1px solid #fff;
    background-color: #ff0000;
}
.top-main-bar-tel{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -65px;
    left: -60px;
    font-size: 18px;
}
.top-main-bar-tel span{
    font-weight: 500;
}
.top-main-bar-tel i{
    position: absolute;
    left: -25px;
    top: 20px;
}
.cart-button{
    color: #fff;
    padding: 5px 28px;
    background-color: #f6851f;
    position: relative;
    top: 10px;
    left: -5px;
}
.top-main-bar-cart a i{
    position: relative;
    top: 0px;
    left: -12px;
}
.top-main-bar-cart a:hover{
    background-color: #f6851f;
}
.main-slide-container{
    background-color: #f5f7f7;
}
.popular-brands h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
.brands{
    display: flex;
    justify-content: space-between;
}
.brands img{
    width: 60px;
}
.brand-samsung{
    width: 60px;
    height: 55px;
    background: url("../img/brand1.png");
    background-size: 100%;
    transition: all 1.0s;
}
.brand-samsung:hover{
    background-image: url("../img/brand1-hover.png");
    background-size: 100%;
}
.brand-mi{
    width: 60px;
    height: 50px;
    background: url("../img/brand6.png");
    background-size: 100%;
    transition: all 1.0s;
}
.brand-mi:hover{
    width: 60px;
    height: 50px;
    background: url("../img/brand6-hover.png");
    background-size: 100%;
}
.brand-apple{
    width: 60px;
    height: 50px;
    background: url("../img/brand2.png");
    background-size: 100%;
}
.brand-sony{
    width: 60px;
    height: 50px;
    background: url("../img/brand3.png");
    background-size: 100%;
}
.brand-tplink-neffos{
    width: 60px;
    height: 50px;
    background: url("../img/brand4.png");
    background-size: 100%;
    transition: all 1.0s;
}
.brand-tplink-neffos:hover{
    width: 60px;
    height: 50px;
    background: url("../img/brand4-hover.png");
    background-size: 100%;
}
.brand-cresyn{
    width: 60px;
    height: 50px;
    background: url("../img/brand5.png");
    background-size: 100%;
    transition: all 1.0s;
}
.brand-cresyn:hover{
    width: 60px;
    height: 50px;
    background: url("../img/brand5-hover.png");
    background-size: 100%;
}
.brand-mi{
    width: 60px;
    height: 50px;
    background: url("../img/brand6.png");
    background-size: 100%;
}
.brand-mi:hover{
    width: 60px;
    height: 50px;
    background: url("../img/brand6-hover.png");
    background-size: 100%;
}
.brand-koss{
    width: 60px;
    height: 50px;
    background: url("../img/brand7.png");
    background-size: 100%;
}
.brand-ergo{
    width: 60px;
    height: 50px;
    background: url("../img/brand8.png");
    background-size: 100%;
    transition: all 1.0s;
}
.brand-ergo:hover{
    width: 60px;
    height: 50px;
    background: url("../img/brand8-hover.png");
    background-size: 100%;
}
.brand-panasonic{
    width: 60px;
    height: 50px;
    background: url("../img/brand9.png");
    background-size: 100%;
}
.brand-huawei{
    width: 60px;
    height: 50px;
    background: url("../img/brand11.png");
    background-size: 100%;
    transition: all 1.0s;
}
.brand-huawei:hover{
    width: 60px;
    height: 50px;
    background: url("../img/brand11-hover.png");
    background-size: 100%;
}
.actualy-stock{
    margin-top: 50px;
    margin-bottom: 25px;
}
.actualy-stock h1{
    text-align: center;
    margin-bottom: 25px;
}
.stocks{
    display: flex;
    justify-content: space-evenly;
}
.stock-one{
    width: 265px;
    height: 220px;
    background-image: url("../img/stock-bg-1.png");
}
.stock-one a{
    padding: 6px 20px;
    background-color: #722b6f;
    border: 2px solid #722b6f;
    border-radius: 100px;
    position: relative;
    top: 160px;
    left: 50px;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}
.stock-one a:hover{
    text-decoration: none;
    border-color: #fff;
}
.stock-two{
    width: 265px;
    height: 220px;
    background-image: url("../img/stock-bg-2.png");
}
.stock-two a{
    padding: 6px 20px;
    background-color: #722b6f;
    border: 2px solid #722b6f;
    border-radius: 100px;
    position: relative;
    top: 160px;
    left: 50px;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}
.stock-two a:hover{
    text-decoration: none;
    border-color: #fff;
}
.stock-three{
    width: 265px;
    height: 220px;
    background-image: url("../img/stock-bg-3.png");
}
.stock-three a{
    padding: 6px 20px;
    background-color: #722b6f;
    border: 2px solid #722b6f;
    border-radius: 100px;
    position: relative;
    top: 160px;
    left: 60px;
    text-transform: uppercase;
    font-size: 11.5px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}
.stock-three a:hover{
    text-decoration: none;
    border-color: #fff;
}