body{
    font: 100%/1 "Open Sans", sans-serif;
    font-weight: 300;
    word-spacing: -2px;
    background-color: #f2e8d5;
}

.NotSupported{
   background-color: #c44230; 
}

.Supported{
    background-color: #39b54a;
}

.PartialSupport{
    background-color: #A8BD04;
}

.SupportUnknown{
    background-color: #838383;
}

table {
    text-align: center;
    color: white;
    width: 1360px;
    margin-top: 30px;
}

.table-1 tbody td{
    width: 80px;
    height: 30px;
    border-right: 2px solid #f2e8d5;
    border-left: 2px solid #f2e8d5; 

}

table thead{
    color: black;
    font-size: 90%;
}

.table-1 .Borders td{
    border: 3px solid #584E3B;
}

p{
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 50%;
}

.table2 thead {
    color: white; 
    text-align: center; 
    font-size: 1.7em; 
}

.table2{
    text-align: left;
    background-color: rgba(88, 78, 59, 0.5);
    color: #f2e8d5;
    font-size: 13px;
    width: 221.2px;
    margin-top: 50px;
    margin-right: 15px;
}

.table2 td{
    border: none;
}

.column-1{
    width: 81.2px;
    height: 30px;
}

.column-2{
    width: 140px;
}

.merging{
    background-color: rgba(0,0,0,0.06);
}

.container{
    width: 1000px;
    overflow-x: auto;
    overflow-y: hidden;
    margin: auto;
}