html, body {
	margin: 0;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: calc(100vh - 20px);
	padding: 10px;
	box-sizing: border-box;
	margin: 10px;
}
.menu {
	width: 200px;
	min-width: 200px;
	background-color: green;
}
.main {
	background-color: red;
	flex: 1 1 auto;
	min-width: 200px
}