.wrapp-table-branches{
    padding: 30px 0;
    overflow-x: auto;
    table{
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #d7e7fe;
        thead{
            border-bottom: 2px solid #d6e7fe;
        }
        th,td{
            padding: 5px 10px;
        }
        tbody{
            tr{
                &:nth-child(even){
                    background-color: #fff;
                }
                &:nth-child(odd){
                    background-color: #f4f9ff;
                }
                td{
                    border-right:1px solid #d7e7fe;
                    .service{
                        strong{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}