body {
            color: #000000;
            font-family: Trebuchet MS, Arial, Times New Roman;
            font-size: 12px;
}
 
#container {
            background:brown;
            margin: 0 auto;
            width: 100%;
            height: 100%;
}
 
#header {
            background: red;
            height: 100px;
            width: 100%;
            position: relative;
}
 
#menu {
            background: green;
            float: left;
            width: 15%;
            height: 500px;
            display: block;
            position: relative;
}
 
#content {
            background: blue;
            float: right;
            width: 85%;
            height: 500px;
            position: relative;
}

#media {
	display: none;
	width: 10%;
	height: 500px;
	background-color: pink;
	float: left;
}

#footer {
            background: yellow;
            height: 80px;
            width: 100%;
            clear: both;
}
@media (a: active){
	div#media {
		display: none;
}
}
@media (a: active){
	div#menu {
		display: block;
}
}
@media (max-width:800px){
	div#menu {
    	display: none;
}
}
@media (max-width:800px){
	div#media {
		display: block;
}
}
@media (max-width:800px){
	div#content {
		width: 90%
	}
}
