@import "../../../../scss-mixins/scss-mixins.scss";

#root {
    .site_header {
        .justin_search {
            .justin_search_form {
                input[name="ttn_number"] {
                    width: 246px;
                    padding: 4px;
                    border: 1px solid #fff;
                    background-color: #164ce2;
                    color: #fff;
                    @include placeholder {
                        color: #fff;
                    }
                }
            }
        }
    }
}